<html>
        <head>
            <title>Evgeniya: Django Girls blog</title>
        </head>
        <body>
            <div>
                <h1><a href="">My Blog</a></h1>

		Go ahead!   <br />
	<ul><li>first  <a href="https://djangogirls.org">link</a>  </li><li>second</li></ul>	
	<br />
	<br />
	<br />
            </div>
	{% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}<</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }} <br />
	<br />
	<br />

                </p>
            </div>
	{% endfor %}

        </body>
    </html>
